
@{
    ViewBag.Title = "Index";
}

<p>都市名</p>
@using (Html.BeginForm("Result", "Home", FormMethod.Post))
{
    <input type="text" id="city" name="city" placeholder="東京都"/>
    <input type="text" id="municipality" name="municipality" placeholder="渋谷区"/>
    <input type="submit" name="name" value="Search" />
}

